.container-address-form-page > .row {
    margin: 0 3em !important;
}

.container-user-address-card {
    margin-bottom: 2em;
}

.container-item-address {
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 1em;
    min-height: 190px;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
}

.container-address{
    margin-bottom: 2em;
}

.address-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-choose-address{
    width: 100%;
    margin-top: 1em;
}

.input-form-address {
    margin-top: 1em !important;
    width: 60% !important;
}

.input-form-address-row {
    margin-top: 1em !important;
}


.form-address {
    display: flex;
    flex-direction: column;
}

.form-address-row {
    display: flex;
    flex-direction: row;
}

.input-marge {
    margin-left: 1.3em !important;
}


.buton-form-address {
    margin-top: 1em !important;
    margin-right: 4em !important;
}

.checkbox-address {
    margin-top: 1.5em !important;
}

.label-address {
    font-weight: bold;
    font-size: 15px;
}

.ant-steps-item-icon {
    line-height: 30px !important;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.progressBar-order {
    margin-bottom: 3em;
}

@media screen and (max-width: 1000px) {
    .progressBar-order {
        margin: 0 3em 3em 3em;
    }
    .container-address-form-page > .row {
        margin: 0 !important;
    }
}

@media screen and (max-width: 580px) {
    .progressBar-order {
        margin: 0 1em 3em 1em;
    }
    .form-container-responsive {
        text-align: center;
    }
    .form-address-row {
       justify-content: center;
    }

}