.container-product {
    margin-bottom: 2em;
}

.product-card {
   margin-bottom: 1.5em;
   min-height: 360px;
   max-height: 360px;

}

.price-filter {
    max-width: 20em;
    margin-left: 1em;
    margin-top: 1em;
}

.titleCatalogue {
    margin-left: 25%;
    margin-bottom: 1em;
    display: inline-block;
}

.sort-by {
    display: inline-block;
}

.sort-by-dropdown {
    display: inline-block;
    margin-left: 1em;
}

.container-image-card{
    padding: 0.5em;
    min-height: 192px;
    max-height: 192px;
}

.image-card {
    max-height: 170px;
    max-width: 200px;
    margin: 0.5em;
}

.anticon-unordered-list {
    vertical-align: baseline !important;
}

.container-sort-by{
    display: inline-block;
}

@media screen and (max-width: 580px) {
    .filter-container{
        display: none !important;
    }
    .titleCatalogue {
        display: none;
    }
    .filter-responsive {
        float: right;
    }

    .container-sort-by {
        margin-left: 1.7em;
    }

    .container-sort-by-responsive{
        display: none;
    }
    .container-top-catalogue-responsive {
        margin-bottom: 1.1em;
    }

    .product-list-responsive {
        margin-left: 1.2em;
    }
}