.containerHeader {
    background-color: #1b2a49;
     height: 120px
}

.navBarHeader{
    max-height: 40%;
    font-size: 15px;
    border-bottom-width: 10px;
    border-bottom-color: red
}

.navBarText {
    margin-right: 1em;
    padding-top: 0.5em;
    color: white;
}

.navBarText > a {
    color: white !important;
}

.navBarTextHeader {
    margin-right: 1em;
    padding-left: 1em;
}

.navBarPanier {
    margin-right: 1em;
    padding-left: 1em;
    display: flex !important;
    flex-direction: row;
}

.textPanierHeader {
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 0.8em;
    padding: 0;
}

.ant-badge {
    margin-top: 3px !important;
}

.img-product-list-header{
    display: inline-block;
    width: 90px; 
    height: 90px; 
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pDropdown {
    margin-bottom: 0;
}

.logout {
    margin: 0;
}

.dropdownUser{
    width: 15em;
}

.p-burger {
    font-size: 17px;
    cursor: pointer;
    color: #1b2a49;
}

.burger-logout {
    cursor: pointer;
}

.elements-burger-responsive {
    display: none;
}

@media screen and (max-width: 580px) {
    .navBarTextResponsive {
        display: none !important;
    }
    .elements-burger-responsive{
        display: block;
    }
}