.containerProduct {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 0;
}

.descProduct {
    min-height: 13em; 
    margin-bottom: 1.5em
}

.imgProduct {
    width: 27em;
    margin-top: 1em;
}

.containerTabs {
    margin-bottom: 1em;
    width: 95%
}

.ant-tabs-nav-container {
    margin-left: 45% !important;
}

.rate-comment {
    margin-bottom: 0.5em;
}
.rate-comment > .ant-rate {
    font-size: 11px !important;
}

.nb-avis-product {
    display: inline-block;
    margin-left: 0.8em;
    font-size: 12px;
}
.ant-comment-content-author {
    margin-bottom: 0 !important;
    max-height: 1.5em;
}
.input-comment{
    width: 80% !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important
}

.container-input-title-comment {
    width: 40em;
}
.input-comment:focus{
    outline: none !important;
}

.text-area-comment{
    margin-top: 2em;
}

.container-note-comment >.ant-form-item > .ant-form-item-control-wrapper {
    display: inline-block !important;
}

.note-comment > .ant-rate {
    font-size: 20px !important;
}

.img-comment {
    display: inline-block;
    margin-right: 1em;
    border-radius: 0.5em;
    width: 100px; 
    height: 100px; 
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.zoom-img{
    background-color: rgb(190, 190, 190);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

.zoom-img:hover{
    opacity: 0.4;
}

.fluid__image-container{
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
}

.divider-comments {
    margin: 1em 0 !important;
    min-width: 20% !important;
    width: 55% !important;
}

.button-load-more {
    padding: 0 !important;
}