.ant-rate{
    font-size: 15px !important;
}

.cardProduct {
    min-height: 350px; 
    max-height: 350px; 
    max-width: 210px;
    margin-bottom: 1em;
}

.stratProduct {
    min-height: 430px;
    background-color: #ffffff;
    overflow: auto
}

.titleStratProduct {
    text-align: center;
    margin-top: 1em; 
    margin-bottom: 0
}

.containerList {
    display: flex;
    justify-content: center;
    margin-bottom: 2em
}

.titleCard{
    font-size: 14px;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    min-height: 40px;
    width: 100%;
}

.priceCard {
    font-size: 15px;
    font-weight: bold;
}

.cardImage {
    min-height: 170px;
    max-height: 170px;
    margin: 0.5em;
}

.link-catalogue {
    margin: 3em;
}

.divider-products-list {
    margin: 1em auto !important;
    min-width: 30% !important;
    width: 50% !important;
    text-align: center !important;
}